row > label
{
   width: 4em;
   height: 1.5em;
   border: 0.0625em solid black;
   background-color: palegreen;
}

.groupboxStyle
{
   width: 28em;
   height: 5em;
}

.optionGrid
{
   padding-top: 0.7em;
}

#deactivatedLabel
{
   background-color: #ddd;
}

#incompatibleLabel
{
   background-color: #ff8e9b;
}